.slide-in-element {
  height: 1000px;
  background-color: #fff;
  padding: 30px;
}

.upper {
  padding: 0px 30px;
  background-color: #fff;
  /* width: 100%; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.divide {
  width: 35%;
}

.jargon {
  font-size: 48px;
  margin-top: 120px;
}

.jargon-desc {
  font-size: 24px;
  margin-top: 15px;
}

.animation1 {
  width: 500px;
  height: 500px;
}

@media (max-width: 768px) {

  .slide-in-element {
    padding: 5px;
  }

  .upper {
    flex-direction: column;
    padding: 0 30px;
    align-items: center;
  }

  .jargon {
    font-size: 36px;
    text-align: center;
  }

  .jargon-desc {
    font-size: 18px;
    text-align: center;
  }

  .divide {
    width: 100%;
    margin-bottom: 20px;
    margin-top: -70px;
  }
}