.header {
  top: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  color: #333;
  padding: 20px 30px;
  position: sticky;
  transition: background-color 0.5s ease;
}

.header.scrolled {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  /* Change the background color to white (#fff) */
  /* Change the text color to black (#333) or any other color you prefer */
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  gap: 10px;
}

.logo img {
  height: 30px;
  /* Adjust the height as needed */
}

.navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navigation li {
  margin-left: 20px;
  /* Adjust the spacing between menu items */
}

.navigation li:first-child {
  margin-left: 0;
  /* Remove left margin for the first menu item */
}

.navigation a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease;
}

/* Additional styles for the links when scrolled */
.navigation.scrolled a {
  color: #333;
  /* Change the link color to red (#f00) or any other color you prefer */
}

.navigation a:hover {
  color: rgb(0, 89, 255);
  /* Adjust the color for the hover state */
}

.burger {
  display: none;
  cursor: pointer;
  padding: 10px;
}

.bar {
  width: 25px;
  height: 2px;
  background-color: #777777;
  margin: 6px 0;
  transition: transform 0.3s ease;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}


.menu li {
  margin-left: 20px;
}

.menu li:first-child {
  margin-left: 0;
}


/* Media query for mobile responsiveness */
@media (max-width: 768px) {
  .header {
    padding: 5px 10px;
  }

  .menu {
    display: none;
  }

  .navigation ul {
    display: none;
  }

  .menu li {
    margin-left: 0px;
    margin-top: 10px;
  }

  .burger {
    display: block;
  }

  /* Show the menu when the burger is clicked */
  .menu.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 10px;
    background-color: #f7f6f6;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 10px;
  }

  /* Style the burger menu icon when active */
  .burger.active .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .burger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .burger.active .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}